<h1 class=" d-flex justify-content-center align-items-center me-3 my-3">{{ x }}</h1>

<div class="d-flex justify-content-center flex-wrap gap-2">
    
    <button class="btn btn-dark" (click)="minnn()">-100</button>

    <button class="btn btn-danger" (click)="minn()">-10</button>

    <button class="btn btn-warning" (click)="min()">-1</button>

    <button class="btn btn-secondary" (click)="reset()">Reset</button>

    <button class="btn btn-info text-white" (click)="add()">+1</button>

    <button class="btn btn-primary" (click)="addd()">+10</button>

    <button class="btn btn-success" (click)="adddd()">+100</button>
    
</div>
